/*Class for image page principala*/
.img-principal{
    width: 102%;
    display: block;
    margin-bottom: 20px;
}
.image-container{

    background: #797676;
    margin-bottom: 20px;
    padding: 20px;
    color: #fff;
}