/*Class for image page principala*/
img{
    width: 102%;
    height: 300px;
    display: block;
    margin-bottom: 20px;
}
.image-container{

    background: #797676;
    margin-bottom: 20px;
    padding: 20px;
    color: #fff;
}
 a{
     color: #fff;
     
 }
 a:hover {
     color: #0032A0;
     text-decoration: none;
 }